name: android build

on:
  push:
    branches:
      - master
      - development

jobs:
  build_android:
    name: Android Build & Upload Artifact
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 12.x
      - name: Decrypt Android keys
        run: sh ./.github/scripts/decrypt_android_secrets.sh
        env:
          ANDROID_KEYS_SECRET_PASSPHRASE: ${{ secrets.ANDROID_KEYS_SECRET_PASSPHRASE }}
      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: 1.22.6
      - name: Install Flutter dependencies
        run: flutter pub get
        # Add build runner commands here if you have any
      - name: Build the APK
        run: flutter build apk --release --no-tree-shake-icons
      - name: Upload artifact to Github
        uses: actions/upload-artifact@v1
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk
      - name: Fleep Updates
        if: always()
        uses: dawidd6/action-send-mail@v2
        with:
          server_address: email-smtp.ap-south-1.amazonaws.com
          server_port: 587
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Github Actions Job Results
          body: Build - Android (AppStore) for job ${{github.job}} has ${{job.status}} !
          to: conv.0asu9evzgxz6tn@fleep.io
          from: Nividata Apps
